@font-face {
    font-family: 'poppins';
    src: url(../assets/fonts/cc3cd44b7fb7b8f47519.woff2);
}

@font-face {
    font-family: 'fonte2';
    src: url(../assets/fonts/24901c6478066fd1c5af.woff2);
}

@font-face {
    font-family: 'fonte3';
    src: url(../assets/fonts/20fd1704ea223900efa9.woff2);
}